<template>
    <div class="rechner">
        <div class="rTable">
            <div class="rTableRow">
                <div class="rTableHead"><strong>Brutto</strong></div>
                <div class="rTableHead"><input step="0.01" min="1" placeholder="2890,00"
                type="number" v-model.number="brutto" class="form-control"> </div>
                <div class="rTableHead"> <button v-on:click="calculate">Netto -></button> </div>
                <div class="rTableHead"><strong style="text-align: end">{{netto}} </strong></div>
            </div>
        
            <div class="rTableRow">
                <div class="rTableCell">Lohnsteuer</div>
                <div class="rTableCell"><label>{{lohnsteuer}}</label></div>
                <div class="rTableCell"></div>
                <div class="rTableCell"></div>
            </div>
            <div class="rTableRow">
                <div class="rTableCell">Soli-Steuer</div>
                <div class="rTableCell"><label>{{solisteuer}}</label></div>
                <div class="rTableCell"></div>
                <div class="rTableCell"></div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    data(){
        return{
            netto: 0,
            brutto: null,
            lohnsteuer: 0,
            solisteuer: 0
          }
    },
    methods: {
        calculate() {
            if (this.brutto < 9409){
                this.netto = this.brutto;
                this.lohnsteuer = 0;
                this.solisteuer = (this.lohnsteuer*0.055).toFixed(2);
            }
            else if (this.brutto >= 9409 && this.brutto < 14533) {
                let y = (this.brutto - 9408) / 10000;
                this.lohnsteuer = ((972.87 * y + 1400) * y).toFixed(2);
                this.solisteuer = (this.lohnsteuer*0.055).toFixed(2);
                this.netto = (this.brutto-this.lohnsteuer-this.solisteuer).toFixed(2);
            }
            else if (this.brutto >= 14533 && this.brutto < 57052) {
                let y = (this.brutto - 14532) / 10000;
                this.lohnsteuer = ((212.02 * y + 2397) * y+972.79).toFixed(2);
                this.solisteuer = (this.lohnsteuer*0.055).toFixed(2);
                this.netto = (this.brutto-this.lohnsteuer-this.solisteuer).toFixed(2);
            }
            else if (this.brutto >= 57052 && this.brutto < 270501) {
                this.lohnsteuer = (0.42 * this.brutto - 8963.74).toFixed(2);
                this.solisteuer = (this.lohnsteuer*0.055).toFixed(2);
                this.netto = (this.brutto-this.lohnsteuer-this.solisteuer).toFixed(2);
            }
            else if (this.brutto >= 270501) {
                this.lohnsteuer = (0.45 * this.brutto - 17078.74).toFixed(2);
                this.solisteuer = (this.lohnsteuer*0.055).toFixed(2);
                this.netto = (this.brutto-this.lohnsteuer-this.solisteuer).toFixed(2);
            }
            
        }
    }
}
</script>
<style scoped>
.rechner{
    display: inline-block;
    margin-left: 20%;
    margin-right: auto
}
.rTable {
     display: table; }
.rTableRow  {
     display: table-row; }
.rTableHeading {
     display: table-header-group; }
.rTableBody    {
     display: table-row-group; }
.rTableFoot    {
     display: table-footer-group; }
.rTableCell, .rTableHead  { 
    display: table-cell; 
    text-align: end;}

button{
      display: inline-block;
      padding: 10px;
      margin: 10px;
      font-weight: bold;
      border-radius: 5px;
      box-shadow: 0px 0px 5px 0px rgb(11, 11, 114);
}
input{
      padding: 10px;
      margin: 10px;
      font-weight: bold;
      width: 80px;
      border-radius: 5px;
      box-shadow: 0px 0px 5px 0px rgb(11, 11, 114);
}
</style>
